<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <div class="thumbnail_image">
                        <img src="/<%= p.productId.imageUrl %>"
                        alt="<%= p.productId.title %>">
                        <h1><%= p.productId.title %></h1>
                        </div>
                        <h2><%= p.productId.price %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Are you ready to adopt ?</h2>
                <h5>Please fill the form below : </h5>
            </div>
            <div class="centered">
                <div class="card__content">
                <form action="/create-order" method="POST">
                    <!-- <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51IviiFH8Rg3z634chPejWHUwpdXHVoAn2RGpweWn8zrMOra97aoClTilbFJZbSzQWPcJQEzK44Dyq1JC7zlpnrBz00zktj8zzL"
                        data-amount=""
                        data-name="Your order"
                        data-description="All ordered items"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-currency="usd">
                    </script> -->
                    <div class="card product-item" style="padding: 30px;">
                     <!-- <div class="form-control"> -->
                        <!-- <label for="new_comment">Comment</label> -->
                        
                        <label for="name">Name :</label>
                        <input
                        class="form-input-material"
                            type="text"
                            name="name"
                            id="name"
                            value=""><br>
                            <label for="place">Place :</label>
                            <input
                            class="form-input-material"
                                type="text"
                                name="place"
                                id="place"
                                value=""><br>
                            <label for="address">Address :</label>
                                <textarea
                                    
                                    name="address"
                                    id="address"
                                    rows="5"></textarea><br>
                    <!-- </div> -->
                    
                    <button class="btn" type="submit">submit</button>
                </div>
                </form>
            </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>